@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@300&family=Ubuntu:wght@300&display=swap');

:root{
 --first-color: #1eff00;
 --primary-color: #fff;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Montserrat', sans-serif;
}

body{
  background-color: #101010;
  color: var(--primary-color);
}

h2{
  font-size: 3rem;
}

h2 strong{
  font-size: 5rem;
  color: var(--first-color);
}

.header{
  background-color: var(--first-color);
  width: 100%;
  height: 100px;
  position: fixed;
}



.firstSection{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 600px;
  width: 100%;
  background-repeat: no-repeat, no-repeat;
  background-position: left;
  background-size: cover;
  background-image: url("./Img/montanha.jpg");
  line-height: 4rem;
  letter-spacing: 0.3rem;
}

.subContainer{
  width: 80%;
}


.textOne{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.buttons{
  display: flex;
  gap: 10px;
  margin-top: 30px;
}

#btnOne{
  color: #000000;
  background-color: #fff;
  width: 150px;
  padding: 10px;
  font-size: 1rem;
  border: 3px solid #fff;
  transition: 0.5s;
  cursor: pointer;
}

#btnOne:hover{
  -webkit-box-shadow: 0px 15px 25px -12px rgba(255,255,255,1);
  -moz-box-shadow: 0px 15px 25px -12px rgba(255,255,255,1);
  box-shadow: 0px 15px 25px -12px rgba(255,255,255,1);
}

#btnTwo{
  background-color: transparent;
  width: 150px;
  padding: 10px;
  font-size: 1rem;
  border: 3px solid #fff;
  color: #fff;
  transition: 0.5s;
}

#btnTwo:hover{
  color: #000000;
  background-color: #fff;
}

.main-content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.who{
  margin-top: 60px;
  text-transform: uppercase;
  font-size: 3rem;
  color: #292727;
}
.alignItens{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.perfil{
  margin-top: 50px;
}

.perfilImg{
  min-width: 270px;
  height: 480px;
  background-color: grey;
}

.perfilText{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  min-width: 300px;
  max-width: 450px;
}

.dados{
  width: 100%;
  height: 150px;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-family: 'Roboto', sans-serif;
  

}

.rowDisplay{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.footer{
  width: 100%;
  height: 300px;
  background-color: #ff9900;
}


@media(max-width: 780px){
  .firstSection{
    background-position: right;
  }
  .textOne{
    gap: 5px;
  }
  .perfilText{
    margin-top: 15px;
    align-items: center;
    justify-content: center;
    gap: 20px;
    min-width: 300px;
    max-width: 450px;
  }
}
